body {
    background-image: url(https://vignette.wikia.nocookie.net/mario/images/9/95/Stamp_BG.jpg/revision/latest?cb=20140124000106);
    background-repeat: repeat;
}
.jumbotron {
    color: rgb(255, 255, 222);
    background-color: rgb(203, 39, 64);
    margin-bottom: 0px;
}
.login-box {
    padding: 10px;
    border-radius: 10px;
}
.nav-link {
    background-color: rgb(218, 252, 255);
    border-radius: 5px;
}
.navbar * {
    margin-right: 7px;
}
.navbar {
    border-bottom: 1px solid gray;
}
.reveal-if-active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}
#inlineRadio1:checked ~ .new-player {
  opacity: 1;
  max-height: 300px; 
  overflow: visible;
}
#inlineRadio2:checked ~ .returning-player {
    opacity: 1;
    max-height: 300px; 
    overflow: visible;
}
.active {
    background-color: rgb(137, 163, 221);
    color: white;
}
.img-fluid {
    padding: 5px;
}
.form-button {
    padding-bottom: 5px;
}
.stats > p, .stats-info > p {
    font-size: 20px;
}
.stats, .stats-info {
    padding-top: 5px;
}
.alert {
    margin-top: 5px;
}
#refresh-button {
    margin-right: 10px;
}